<div class="page-home">
  <header>
    <%= image_tag("user-login.png", class: 'login-ico') %>
    <%= image_tag("logoUnzulu.png", class: 'logo') %>
  </header>
  
  <section id="timer">
    <%= render partial: "timer", locals: { user: @user, task: @task, task_period: nil } %>
  </section>
  <section>
    <%= render partial: "summary", locals: { user: @user } %>
    <%= render @user.projects %>
  </section>
  <div id="edit-task">
  </div>
</div>